h1.title Test of the C language
.wrapper
  form action="/quiz" method="POST"
    ol.quiz
      li.sub__text
        | What is the correct value to return to the 
         operating system upon the successful 
         completion of a program?
        ol.sub__quiz type="a" 
          li.answer
            input# type="radio" name="group1" required="" value="1a"/
            | -1
          li.answer
            input# type="radio" name="group1" required="" value="1b"/
            | 1
          li.answer
            input# type="radio" name="group1" required="" value="1c"/
            | 0
          li.answer
            input# type="radio" name="group1" required="" value="1d"/
            | Programs do not return a required="" value.
      li.sub__text
        | What is the only function all C programs must contain?
        ol.sub__quiz type="a"
          li.answer
            input# type="radio" name="group2" required="" value="2a"/
            | start()
          li.answer
            input# type="radio" name="group2" required="" value="2b"/
            | system()
          li.answer
            input# type="radio" name="group2" required="" value="2c"/
            | main()
          li.answer
            input# type="radio" name="group2" required="" value="2d"/
            | program()
      li.sub__text
        | Which of the following is 
        span.not__word not
        |  a correct variable type?
        ol.sub__quiz type="a"
          li.answer
            input# type="radio" name="group3" required="" value="3a"/
            | float
          li.answer
            input# type="radio" name="group3" required="" value="3b"/
            | real
          li.answer
            input# type="radio" name="group3" required="" value="3c"/
            | int
          li.answer
            input# type="radio" name="group3" required="" value="3d"/
            | double
      li.sub__text
        | Which of the following is a correct comment?
        ol.sub__quiz type="a"
          li.answer
            input# type="radio" name="group4" required="" value="4a"/
            |  */ comments */ and / comment
          li.answer
            input# type="radio" name="group4" required="" value="4b"/
            | ** comments ** and # comment
          li.answer
            input# type="radio" name="group4" required="" value="4c"/
            | /* comments */ and // comment
          li.answer
            input# type="radio" name="group4" required="" value="4d"/
            | { comments } and | comment
      li.sub__text
        | Which statement can print \n on the screen?
        ol.sub__quiz type="a"
          li.answer
            input# type="radio" name="group5" required="" value="5a"/
            pre 
              code printf("\\n");
          li.answer
            input# type="radio" name="group5" required="" value="5b"/
            pre
              code printf("n\");
          li.answer
            input# type="radio" name="group5" required="" value="5c"/ 
            pre 
              code printf("n");
          li.answer
            input# type="radio" name="group5" required="" value="5d"/
            pre 
              code printf('\n');
      li.sub__text__with__code
        ol.sub__quiz type="a"
          | What is the output of the below code snippet?
          pre
            code.code__sub__text #include < stdio.h > 
          
              main() 
              { 
                int a = 5, b = 3, c = 4; 
                
                printf("a = %d, b = %d\n", a, b, c);
              }
          li.answer
            input# type="radio" name="group6" required="" value="6a"/
            | a=5, b=3
          li.answer
            input# type="radio" name="group6" required="" value="6b"/
            pre
            | a=5, b=3, c=0;
          li.answer
            input# type="radio" name="group6" required="" value="6c"/
            pre 
            | a=5, b=3, 0;
          li.answer
            input# type="radio" name="group6" required="" value="6d"/
            | compile error
      li.sub__text__with__code
        ol.sub__quiz type="a"
          | What is the output of the following program?
          pre
            code.code__sub__text #include < stdio.h >

              main()
              { 
                 int a[3] = {2,1};
                 
                 printf("%d", a[a[1]]); 
              }
          li.answer
            input# type="radio" name="group7" required="" value="7a"/
            | 0
          li.answer
            input# type="radio" name="group7" required="" value="7b"/
            | 1
          li.answer
            input# type="radio" name="group7" required="" value="7c"/
            | 2
          li.answer
            input# type="radio" name="group7" required="" value="7d"/
            | 3
      li.sub__text__with__code
        | What is the output of the following program?
        ol.sub__quiz type="a"
          pre
            code.code__sub__text #include < stdio.h >

              main()
              {	
                 char *s = "Hello, "
                 "World!";

                 printf("%s", s);
              }

          li.answer
            input# type="radio" name="group8" required="" value="8a"/
            | Hello, World!
          li.answer
            input# type="radio" name="group8" required="" value="8b"/
            | World!
          li.answer
            input# type="radio" name="group8" required="" value="8c"/
            | Hello
          li.answer
            input# type="radio" name="group8" required="" value="8d"/
            | Compile error
            
      li.sub__text__with__code
        | What is the output of the following program?
        ol.sub__quiz type="a"
          pre 
            code.code__sub__text #include < stdio.h >

              main()
              { 
                struct student
                { 
                   int num = 10;
                }var;

                  printf("%d", var.num);
              }
          li.answer
            input# type="radio" name="group9" required="" value="9a"/
            | 10
          li.answer
            input# type="radio" name="group9" required="" value="9b"/
            | Garbage
          li.answer
            input# type="radio" name="group9" required="" value="9c"/
            | Runtime error
          li.answer
            input# type="radio" name="group9" required="" value="9d"/
            | Compile error
      li.sub__text
        | To store a word/sentence declare a variable of the type ‘string’.
        ol.sub__quiz type="a"
          li.answer
            input# type="radio" name="group10" required="" value="10a"/
            | true
          li.answer
            input# type="radio" name="group10" required="" value="10b"/
            | false
    button.btn__pass Pass
